* {
    font-family: 'Roboto';
}

.inicio {
    background-color: #1F2937;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
}

.pie {
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}

#logo {
    margin: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    flex: auto;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.container{
    display: flex;
    padding-bottom: 100px;
}

.subconteiner{
    flex: 1;
}

#titulo {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#descripcion {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 10px;
}

#boton {
    background-color: #3882F6;
    width: 80px;
    padding: 7px;
    text-align: center;
}

.imagen {
    display: flex;
    background-color: gray;
    flex: 1;
    justify-content: center;
    align-items: center;
}